@charset "utf-8";

a[href^="moderation.php?action=closety"] img, a[href^="moderation.php?action=openty"] img {
  display: none;
}

a[href^="moderation.php?action=closety"]:before, a[href^="moderation.php?action=openty"]:before {
  color: white;
  background-color: #222;
  border: 1px solid black;
  display: inline-block;
  font-family: 'FontAwesome', Tahoma, sans-serif;
  font-size: 14px;
  padding: 4px 8px;
  margin-top: 2px;
}

a[href^="moderation.php?action=closety"]:before {
  content: "\f023 \a0\a0 Schließen";
}

a[href^="moderation.php?action=openty"]:before {
  content: "\f13e \a0\a0 Öffnen";
}
