.author_statistics {
  display: none!important;
}

.post.classic .post_author {
  border-radius: 0!important;
  margin: 0!important;
  padding: 0!important;
}

.post.classic .post_author div.author_avatar {
  margin-bottom: 0!important;
  margin-right: 0!important;
}

.post.classic .post_author div.author_information {
  margin-bottom: 0!important;
  padding: 0 5px!important;
  overflow: hidden!important;
}

.author_information .largetext a {
  font-size: calc(6px + 0.5vw);
}

.post.classic .post_author div.author_information .smalltext {
  font-size: calc(7px + 0.2vw)!important;
}

.post .post_author {
  background: transparent!important;
  border: none!important;
  color: #ccc!important;
  width: 12%!important;
  display: flex!important;
  flex-direction: column-reverse!important;
}

.post.classic .post_content {
  width: 85%!important;
  min-height: 300px;
}

.buddy_status:before {
  width: 10px;
  height: 10px;
}

.post .post_author .buddy_status {
  margin-left: 4px!important;
  padding:0!important;
  border:none!important;
}

.post .post_author img[src$="/forum/images/buddy_online.png"]    {
  height: 5px!important;
  width: 5px!important;
  border-radius: 5px!important;
  background: #28B31F!important;
  box-sizing: border-box!important;
  padding-left:5px!important;
}

.post .post_author img[src$="/forum/images/buddy_offline.png"]    {
  height: 6px!important;
  width: 6px!important;
  border: 1px solid #ccc!important;
  border-radius: 6px!important;
  background: transparent!important;
  box-sizing: border-box!important;
  padding-left:5px!important;
}